h1 {
    margin: 0 auto 0 auto;
    color: black;
    clear: both;
}
body {
color:black;
background-image:url(images/test2.jpeg);
}
#formulaire {
    text-align: left;
}

#formulaire form {
    clear: both;
    margin: auto;
}

#formulaire form fieldset {
    float: left;
    width: 100%;
}

#coordo {
    text-align: left;
    margin-right: 20px;
    width: 100%;
}
#coordo2 {
    text-align: left;
    margin-right: 20px;
}
#coordo legend {
    text-align: left;
}


p {
    text-align: left;
    margin: 1em 0px;
}



label{
    margin-right: 20px;
	width: 130px;
	float: left;
        
}

table {
    width: 100%;
    border: 0;
}