/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 mai 2018, 10:43:19
    Author     : yann.ramirez
*/
#formulaire form fieldset {
    float: left;
    width: 100%;
}
#coordo legend {
    text-align: left;
}


p {
    text-align: left;
    margin: 1em 0px;}

#coordo {
    text-align: left;
    margin-right: 100px;
    width: 80%;
}

.macouleur{
    color : #FFFFFF;
}
.bgcolor{
    background-color : #010101;
}

label{
    margin-right: 20px;
	width: 130px;
	float: left;
        
}
@media screen and (min-width:481px) and (max-width:992px) {
    header { background-image: none; width: auto; margin: 0; height: 160px;}
    nav { margin-top: 0; }
    nav ul { margin-left: 0; margin-top: 0; padding-left: 0;}
    nav li a { display: block; margin-top: 1px; height: 25px; padding: 1px;}
}