/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 mai 2018, 14:12:57
    Author     : yann.ramirez
*/
h1 {
    margin: 0 auto 0 auto;
    color: black;
    clear: both;
}
body {
color:black;
background-image:url(images/test2.jpeg);
}
#formulaire {
    text-align: left;
}

#formulaire form {
    clear: both;
    margin: auto;
}

#formulaire form fieldset {
    float: left;
    width: 100%;
}

#coordo {
    text-align: left;
    margin-right: 20px;
    width: 100%;
}
#coordo2 {
    text-align: left;
    margin-right: 20px;
}
#coordo legend {
    text-align: left;
}


p {
    text-align: left;
    margin: 1em 0px;
}
#chk_mail{
    float: left;
}
#chk_courrier{
    float: left;
}
#rd_oui{
    float: left;
}
#rd_non{
    float: left;
}
#rd_oui2{
    float: left;
}
#rd_non2{
    float: left;
}
#rd_oui3{
    float: left;
}
#rd_non3{
    float: left;
}
#rd_oui4{
    float: left;
}
#rd_non4{
    float: left;
}




label{
    margin-right: 20px;
	width: 130px;
	float: left;
        
}

table {
    width: 100%;
    border: 0;
}


/* Smartphone et Tablette*/
@media screen and (max-width:992px) {
    #formulaire {width: 100%;}
    #formulaire form fieldset, #controles {clear: left;}
}