/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 mai 2018, 15:10:42
    Author     : yann.ramirez
*/

header, nav, section, footer {
    margin: 0 auto 0 auto;
    width: 950px;
    text-align: center;
}

header {
 background: url('images/banniere_ecole.jpg') no-repeat scroll center 0px;
 height: 200px;
}

nav {
    margin-top: 200px;
    width: 99%;
    float: left;
}

nav li {
    display:inline;
    font-size: 150%;
}

nav li a {
    padding: 10px;
    color: white;
    background-color: black;
    font : bold 13px bold, arial, serif;
    text-decoration: none;
}

nav li a:hover {
    color: black;
    background-color: white;
}

body {
color:black;
background-image:url(images/test2.jpeg);
margin:0;
}

#principal {
    padding-top: 10px;
    text-align: center;
}

#formulaire {
    text-align: left;
}

#formulaire form {
    clear: both;
    margin: 0 30% auto 30%;
}

#formulaire form fieldset {
    float: left;
}
#coordo legend {
    text-align: center;
    
}

#coordo {
    text-align: left;
    margin-right: 50px;
}

label{
    margin-right: 20px;
	width: 130px;
	float: left;
        
}
area_commentraire {
    text-align: left;
    margin: 1em 0px;
}

p {
    text-align: left;
    margin: 1em 10px;
}
#rd_modeGarde1{
    float: left;
}

#rd_modeGarde2{
    float: left;
}
#controles {
    float: right;
}
.input-validation {
	display: inline;
}
@media screen and (min-width:481px) and (max-width:992px) {
    header { background-image: none; width: auto; margin: 0; height: 160px;}
    nav { margin-top: 0; }
    nav ul { margin-left: 0; margin-top: 0; padding-left: 0;}
    nav li a { display: block; margin-top: 1px; height: 25px; padding: 1px;}
    #principal { height: auto; width: auto;}}